<div class="page-header">
  <%= link_to new_cliente_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Cliente
  <% end %>
  <h1>Listando clientes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Razao social</th>
        <th>Cnpj</th>
        <th>Inscricao estadual</th>
        <th>Inscricao municipal</th>
        <th>Endereco</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clientes) do |cliente| %>
        <td><%= cliente.razao_social %></td>
        <td><%= cliente.cnpj %></td>
        <td><%= cliente.inscricao_estadual %></td>
        <td><%= cliente.inscricao_municipal %></td>
        <td><%= cliente.endereco %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Confirma?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
