<div class="page-header">
  <%= link_to new_pedido_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova entrada
  <% end %>
  <h1>Listando entradas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Data emissao fatura</th>
        <th>Descricao</th>
        <th>Numero fatura</th>
        <th>Data inicio</th>
        <th>Data fim</th>
        <th>Vencimento</th>
        <th>Valor</th>
        <th>Detalhes</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedidos) do |pedido| %>
        <td><%= pedido.placa %></td>
        <td><%= pedido.data_emissao_fatura %></td>
        <td><%= pedido.descricao %></td>
        <td><%= pedido.numero_fatura %></td>
        <td><%= pedido.data_inicio %></td>
        <td><%= pedido.data_fim %></td>
        <td><%= pedido.vencimento %></td>
        <td><%= pedido.valor %></td>
        <td><%= link_to 'Detalhes', pedido_pedido_produtos_path(pedido) %></td>
        <td><%= link_to 'Mostrar', pedido %></td>
        <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Apagar', pedido, method: :delete, data: { confirm: 'Confirma?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
