<div class="page-header">
  <%= link_to pedidos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_pedido_path(@pedido), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar entrada</h1>
</div>

<dl class="dl-horizontal">
  <dt>Placa:</dt>
  <dd><%= @pedido.placa %></dd>
  <dt>Data emissao fatura:</dt>
  <dd><%= @pedido.data_emissao_fatura %></dd>
  <dt>Descricao:</dt>
  <dd><%= @pedido.descricao %></dd>
  <dt>Numero fatura:</dt>
  <dd><%= @pedido.numero_fatura %></dd>
  <dt>Data inicio:</dt>
  <dd><%= @pedido.data_inicio %></dd>
  <dt>Data fim:</dt>
  <dd><%= @pedido.data_fim %></dd>
  <dt>Vencimento:</dt>
  <dd><%= @pedido.vencimento %></dd>
  <dt>Valor:</dt>
  <dd><%= @pedido.valor %></dd>
</dl>
