<div style="font-family: arial;font-size: 30px">
  <hr>
  <%= pdf_image_tag('/logo.png', :style=>"margin:0px;padding:0px", :width=>"380", :height=>"133") %>
  <h1 style="font-family: arial;font-size: 40px;display: inline-block;position: absolute;text-align: right;">
    Manobra transportes<br>
    <span style="color: #337ab7;font-size: 30px;font-weight: bold;">Fatura</span>
  </h1>
  <hr>
  <div style="background-color: #1a215c;color: #fff;padding: 10px;margin-bottom: 5px;">
    PRESTADOR
  </div>
  <table style="font-size: 20px;width: 100%">
    <tr>
      <td style="width: 200px">
        Razão Social:
      </td>
      <td>
        Rubinaldo da Cruz Azevedo Transportes -ME
      </td>
    </tr>
    <tr>
      <td>
        CNPJ:
      </td>
      <td>
        14.289.423/0001-88
      </td>
    </tr>
    <tr>
      <td>
        Ins. Est:
      </td>
      <td>
        513.092.525.110
      </td>
    </tr>
    <tr>
      <td>
        Ins. Mun:
      </td>
      <td>
        17.583
      </td>
    </tr>
    <tr>
      <td>
        Endereço:
      </td>
      <td>
        Avenida 3,1043, Bom Retiro, CEP: 13.142-128, Paulína - São Paulo
      </td>
    </tr>
    <tr>
      <td>
        CEP:
      </td>
      <td>
        13.142-128
      </td>
    </tr>
  </table>
  <br>
  <div style="background-color: #1a215c;color: #fff;padding: 10px;margin-bottom: 5px;">
    TOMADOR
  </div>
  <table style="font-size: 20px;width: 100%">
    <tr>
      <td style="width: 200px">
        Razão Social:
      </td>
      <td>
        <%= @fatura.cliente.razao_social %>
      </td>
    </tr>
    <tr>
      <td>
        CNPJ:
      </td>
      <td>
        <%= @fatura.cliente.cnpj %>
      </td>
    </tr>
    <tr>
      <td>
        Ins. Est:
      </td>
      <td>
        <%= @fatura.cliente.inscricao_estadual %>
      </td>
    </tr>
    <tr>
      <td>
        Ins. Mun:
      </td>
      <td>
        <%= @fatura.cliente.inscricao_municipal %>
      </td>
    </tr>
    <tr>
      <td>
        Endereço:
      </td>
      <td>
        <%= @fatura.cliente.endereco %>
      </td>
    </tr>
    <tr>
      <td>
        CEP:
      </td>
      <td>
        <%= @fatura.cliente.endereco.scan(/CEP.*/).first.scan(/\d+/).join.sub(/([A-Z0-9]+)([A-Z0-9]{6})/, '\1.\2').sub(/([A-Z0-9]+)([A-Z0-9]{3})/, '\1-\2') rescue "" %>
      </td>
    </tr>
  </table>
  <br>
  <style type="text/css">
    .gridItensPedido{
      font-size: 20px;width: 100%
    }
    .gridItensPedido th{
      border: 1px solid #000;
      font-weight: bold;
    }
    .gridItensPedido td{
      border: 1px solid #696969;
      text-align: center;
    }
  </style>
  <table class="gridItensPedido">
    <tr>
      <th>Fatura:</th>
      <th>Emissão:</th>
      <th>Vencimento:</th>
    </tr>
    <tr>
      <th>
        <%= @fatura.id %>
      </th>
      <th>
        <%= @fatura.emissao.strftime("%d/%m/%Y") %>
      </th>
      <th>
        <%= @fatura.vencimento.strftime("%d/%m/%Y") %>
      </th>
    </tr>
    <tr>
      <th>Relação de serviços:</th>
      <th>Data:</th>
      <th>Valor Diária:</th>
    </tr>
    <% @fatura.itens_faturas.each do |item| %>
    <tr>
      <td>
        <%= item.descricao %>
      </td>
      <td>
        <%= item.data_inicio.strftime("%d/%m/%Y") %> até <%= item.data_fim.strftime("%d/%m/%Y") %>
      </td>
      <td style="text-align: right;">
        <%= number_to_currency(item.valor, :unit => "R$") %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="3" style="text-align: right;background-color: #1a215c;color: #fff;">
        <%= number_to_currency(@fatura.valor, :unit => "R$") %>
      </td>
    </tr>
  </table>
  <br>
  <div style="font-size: 15px;text-align: center;">
    <p>
      Se tiver alguma dúvida relativa a esta fatura,favor contacte:
    </p>
    <p>
      Luciane (manobra.transportes@yahoo.com.br) ou pelo telefone 019-982111344/011-975227788
    </p>
    <p style="color: #337ab7">
      Favor efetuar o depósito, Banco Caixa Economica, Agência: 3046/Op:003/00000831-5
    </p>
    <div style="background-color: #9bbad4; padding: 5px">
      OBRIGADO PELA CONFIÂNÇA!
    </div>
    <p style="text-align: right;">
      Após o vencimento, juros e multa de mora de 10%am mês.
    </p>
  </div>
</div>