<div class="page-header">
  <%= link_to faturas_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_fatura_path(@fatura), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar fatura</h1>
</div>

<dl class="dl-horizontal">
  <dt>Emissão:</dt>
  <dd><%= @fatura.emissao.strftime("%d/%m/%Y") %></dd>
  <dt>Vencimento:</dt>
  <dd><%= @fatura.vencimento.strftime("%d/%m/%Y") %></dd>
  <dt>Cliente:</dt>
  <dd><%= @fatura.cliente.razao_social %></dd>
  <dt>Status:</dt>
  <dd><%= @fatura.status_desc %></dd>
</dl>
