<div class="page-header">
  <%= link_to produtos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_produto_path(@produto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar produto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @produto.nome %></dd>
  <dt>Tamanho:</dt>
  <dd><%= @produto.tamanho %></dd>
  <dt>Peso:</dt>
  <dd><%= @produto.peso %></dd>
  <dt>Quantidade:</dt>
  <dd><%= @produto.quantidade %></dd>
  <dt>Valor:</dt>
  <dd><%= @produto.valor %></dd>
</dl>
